<header class="header">
    <div class="header__content">
        <a href="/admin" class="header__logo">
            <img src="/resources/assets/images/logo.svg" alt="">
        </a>
        <button class="header__btn" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>
